body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 3.8%, 89.8%);
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header a {
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid hsl(20, 70%,25%);
  padding-bottom: 2px;
  color: hsl(20, 70%,25%)
}

.user-lists {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.entrants {
  border: 1px solid gray;
}
.shows {
  padding: 16px 32px;
  width: 30%;
  border-radius: 4px;
  margin: 20px;
  min-height: 500px;
  background-color: hsl(35.3, 36.2%, 81.6%)
}
.show-names {
  text-align: center;
  font-size: 28px;
  padding: 10px 6px;
}

.show-description {
  font-size: 12px;
  padding: 8px 0;
}

.small-forms {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 6px;
}

.input-submit-buttons {
  text-align: center;
  font-size: 14px;
  padding: 4px;
  border: 1px solid transparent;
  color: white;
  border-radius: 2px;
  margin: 10px 0px;
  cursor: pointer;
  background-color: hsl(20, 70%,25%);
}

.winner {
  background-color: hsl(120,50%,40%) !important;
  color: white;
}
.users {
  padding: 4px;
  border: .5px solid hsl(30, 20%, 85%);
  background-color: hsl(30,20%,95%);
}

.title {
  margin-top: 4px;
  padding: 2px;
  color: black;
  text-align: center;
  font-size: 16px;
}

.success-title {
  margin-top: 4px;
  padding: 2px;
  color: green;
  text-align: center;
  font-size: 16px;
}

input {
  font-size: 14px;
}
