body {
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-lists {
  display: flex;
  flex-direction: column;
}

.entrants {
  border: 1px solid gray;
}
.shows {
  border: 1px solid rgb(71, 71, 71);
  padding: 16px 32px;
  width: 30%;
  border-radius: 4px;
  margin: 20px;
  min-height: 500px;
}
.show-names {
  text-align: center;
  font-size: 28px;
  padding: 10px 6px;
}

.show-description {
  font-size: 12px;
  padding: 8px 0;
}

.small-forms {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 6px;
}

.input-submit-buttons {
  text-align: center;
  font-size: 14px;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 10px 0px;
  cursor: pointer;
}

.winner {
  background-color: green;
  color: white;
}
.users {
  padding: 4px;
  border: 1px solid gray;
}

.title {
  padding: 2px;
  color: black;
  text-align: center;
  font-size: 18px;
}

.success-title {
  padding: 2px;
  color: green;
  text-align: center;
  font-size: 18px;
}

input {
  font-size: 14px;
}
